@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 700px;
  margin: 2rem 0;
}

.container img {
  margin: auto;
  display: block;
  width: 350px;
}

.container .stack {
  background: #555;
  padding: 0 20px 20px;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 12px 0 rgb(122, 210, 64);
  position: relative;
}

.stack label {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.stack label h2 {
  width: 40px;
  height: 40px;
  background: white;
  color: black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2rem;
}

.stack:hover label::after {
  color: black;
  transition: 0.5s;
}

.stack input:checked ~ label::after {
  transform: rotate(135deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.stack input {
  appearance: none;
}

.stack input:checked ~ .content {
  max-height: 100vh;
}

.content p,
.content ul {
  padding-top: 20px;
}
